#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  gap: 2.5rem;
}

#contact header {
  display: grid;
  gap: 1.5rem;
  text-align: center;
  max-width: 40rem;
}

#contact header p:first-of-type {
  color: var(--primary-color);
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
}

#contact header p {
  color: var(--second-text-color);
}

#contact form {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  max-width: 40rem;
}

#contact form input,
#contact form textarea {
  width: 100%;
  padding: 1.25rem 1.5rem;
  border-radius: 0.375rem;
  border: 1px solid #f0f0f0;
  background: var(--light-gray);
  font-family: var(--ff-sans);
  font-size: var(--fs-base);
  color: var(--second-text-color);
}

#contact form input::placeholder,
#contact form textarea::placeholder {
  color: var(--second-text-color);
}

#contact form button.btn-primary {
  width: auto;
  padding-inline: 2.5rem;
  justify-self: center;
}
