#hero {
  background: var(--light-gray);
  border-top: 0.125rem solid #e4e4e4;
  height: 90vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

#hero > img {
  position: absolute;
  top: 0;
  right: 0;
  height: 60%;
  padding-left: 30%;
  z-index: 0;
}

#hero p {
  color: var(--second-text-color);
}

#hero .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.75rem;
  margin-top: auto;
}

#hero .content > div {
  width: fit-content;
  align-self: center;
  margin-bottom: 20%;
}

@media (width >= 1280px) {
  #hero {
    background: var(--bg-color);
    border-top: none;
    z-index: 2;
  }

  #hero > span {
    position: absolute;
    top: 0;
    z-index: 0;
  }
  #hero > img {
    top: 0;
    height: 82%;
    padding-left: 55%;
  }

  #hero .content p {
    width: 80%;
    align-self: center;
  }

  #hero .content {
    gap: 2.5rem;
  }

  #hero .content p:first-of-type {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
  }

  #hero .content > div:first-child {
    width: 10.625rem;
    margin-bottom: 0;
  }
}
