#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4rem;
  gap: 2rem;
}

#pricing header {
  display: grid;
  gap: 1.5rem;
  text-align: center;
  max-width: 33rem;
}

#pricing header p:first-child {
  color: var(--primary-color);
  font-weight: var(--fw-bold);
}

#pricing p {
  color: var(--second-text-color);
}

#pricing .even-columns {
  align-items: start;
  gap: 2rem;
}

.pricing-card {
  background: var(--light-gray);
  box-shadow: rgba(58, 68, 78, 0.2) 0px 12px 24px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-self: center;
  height: min-content;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 20.25rem;
  text-align: center;
}

.pricing-card .hr {
  height: 1.5px;
  background-color: var(--primary-color);
  margin-block: 0.725rem;
  width: 100%;
}

.pricing-card .features {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1.5rem;
}

.pricing-card .features li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pricing-card .plan {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pricing-card.premium {
  border: solid 0.2rem var(--primary-color);
  padding: 0rem 1.5rem 3rem 1.5rem;
}

.pricing-card.premium .plan > h3 {
  color: var(--primary-color);
}

.pricing-card .bonus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 65%;
  height: 2.5rem;
  align-self: center;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

.pricing-card .bonus p {
  font-size: 12px;
  font-weight: var(--fw-md);
  color: var(--light-text-color);
}

.pricing-card .price {
  display: flex;
  align-items: end;
  justify-content: center;
}

.pricing-card .price p {
  margin-left: 8px;
  padding-bottom: 4px;
  color: var(--second-text-color);
}

@media (width >= 1280px) {
  #pricing {
    gap: 5rem;
    padding-block: 5rem;
  }

  #pricing header > h2 {
    font-size: var(--fs-xl);
  }

  .pricing-card h3 {
    font-size: 1.25rem;
  }
}
